fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
scikit-learn
langchain
langchain-openai
openai
web3
python-jose[cryptography]
passlib[bcrypt]
boofuzz
requests
python-multipart
pydantic
pydantic-settings
python-dotenv
langchain-google-genai
